/*base.css*/
body{background-color: #fff;}
.window_box{width:100vw; height: 100vh;overflow: hidden;}
.scroll_box{width: calc(100vw + 1rem);height: 100vh;overflow-y: scroll;overflow-x: hidden;}

/*header*/
header{display: none;width: 100vw;height: 3rem;background-color: #011124;position: fixed;z-index: 1000000}
header>div{width: 100vw;height: 3rem;color: #fff;font-size: 1.2rem; text-align: center;line-height: 3rem;}

h1{width: 2rem;height: 1.8rem;position: absolute;top: 0;left: 0.5rem;z-index: 100;background-image: url(../../img/ej_logo_w.png);background-size:contain;background-repeat: no-repeat;background-position: center;margin-top: 0.5rem;box-sizing: border-box;/*border: 1px solid #fff*/}
aside{width: 2rem;height: 2rem;position: absolute;top: 0;right: 0;z-index: 100;box-sizing: border-box;/*border: 1px solid #fff;*/margin: 0.5rem}
aside .menu_button{width: 1.5rem;height: 2rem;position: absolute;top: 0;right: 1rem;z-index: 1500;box-sizing: border-box;/*border: 1px solid #fff;*/}
aside .menu_button i{font-size: 1.5rem;color: #fff;text-align: center;}
aside .menu{width: 100vw;height: 100vh;display: table;position: fixed;top:0;left: 0;; background-color: rgba(0,0,0,0.9);text-align: center;color: #fff;line-height: 4rem;font-size: 2rem;transition: all 0.5s}
aside .hide{display: none;}
aside .menu_button .fff{color: #fff;}
aside .menu ul{font-family: 'Open Sans', sans-serif;display: table-cell;vertical-align: middle;}
aside .menu li a:hover, aside .menu li a:focus{outline: 0; color: #0080ff}


/*main*/
#main {width: 100vw;height: 120vh;box-sizing: border-box;background-image:url(../../img/benis.jpg);background-repeat: no-repeat;background-size: cover;background-position:center 30%;transition: all 0.2s}
/*main logo*/
#main .logo{width: 100%;min-height:15.63rem;height: 50%;box-sizing: border-box;padding: 10% 5%;/*border: 1px solid #fff;*/}
#main .logo_img {width: 100%;height: 100%;background-image: url(../../img/logo_w.svg);background-position: center;background-size: contain; background-repeat: no-repeat;}
/*main>contents*/
#main .logo ~ div{box-sizing: border-box;color: #fff;font-weight: bold; text-align: center;display: table;float: left}
#main .resume a, #main .identity a {width: 100%;height: 100%;border: 3px solid #fff;}
#main .portfolio_01 div, #main .portfolio_02 div {box-sizing: border-box;border: 3px solid #fff;float: left;display: table;}
/*main contents text*/
#main a{box-sizing: border-box; font-size: 1.2rem;vertical-align: middle;display: table-cell}section #main a:hover, section #main a:focus{background-color: rgba(2, 22, 39, 0.8);outline: 0}



/*section article*/
section{width: 100vw;height: auto;box-sizing: border-box;}
section article{width: 100vw;box-sizing: border-box;color: #fff;text-align: center;}

.portfolio_title{/*position: relative;*/}
.portfolio_title h2{width: 100vw;height: 30%;padding-top:5rem;font-weight: normal}

.portfolio_title div{width: 100vw;height: 2rem;font-size: 1rem;/*position: absolute;z-index: 30;bottom: 3.5rem;left: 50%;margin-left: -3.5rem;*/line-height: 2rem;box-sizing: border-box; padding: 0 40%}
.portfolio_title div a{width: 100%;height: 100%;font-size: 1rem;color: #fff;background-color: #000;/*position: absolute;z-index: 30;bottom: 3.5rem;left: 50%;margin-left: -3.5rem;*/line-height: 2rem;}
.portfolio_title div a:hover,.portfolio_title div a:focus{background-color: #0080ff;}

#portfolio_01 ul{width: 100vw;height: 3rem;box-sizing: border-box;border-bottom: 2px solid #333;}
#portfolio_01 li{width: 8rem;height: 3rem;box-sizing: border-box;border: 2px solid #333;float: left;font-size: 1.2rem;padding: 0 1rem;border-radius: 0.5rem 0.5rem 0 0;border-left:#fff;color: #222}
#portfolio_01 li:first-child{border-left:1px solid #333;}
#portfolio_01 li:hover, #portfolio_01 li:focus{background-color:rgba(0,0,0,0.8);color: #fff}


.click{border:0;position: relative}
.click_after::after{content: attr(data-content);display: block;width: 8rem;height: 3rem;line-height: 3rem;background-color: #fff;position: absolute;top:0;left: 0;z-index: 1000;border-radius: 0.5rem 0.5rem 0 0;color: #333;box-sizing: border-box;border: 2px solid #333;border-bottom: 0}

button{width: 100%;height: 100%;color:inherit;outline: 0}
.abstract{width: 100vw;background-size: contain;background-repeat: no-repeat; background-position: top left;}
#portfolio_01 .concept{width: 100vw;height: auto;}
.portfolio_01_content_02, .portfolio_01_content_03, .portfolio_01_content_04, .portfolio_01_content_05{width: 100vw;background-size:contain;background-repeat: no-repeat; background-position: top left;border-bottom: 1px solid #ccc}
#portfolio_01 .concept .portfolio_01_content_02 ~ div{display: none;}


.code_open_01, .code_open_02{width: 100vw;height: 4rem;text-align: center;background-color: #333;}
.code_open_01:hover, .code_open_01:focus, .code_open_02:hover, .code_open_02:focus{background-color: #0080ff;}
.portfolio_01_coding{width: 100vw;height: auto;display: none;}
.portfolio_01_coding .select_01{width: 100vw;height: auto;box-sizing: border-box; padding-left: 3rem;text-align: left;padding-top: 1rem;background-color: #0F1927;
}
.portfolio_01_coding #portfolio_01_coding {width: 10rem;height: 2rem;color: #333
}



/*포폴1 프로토타입 코딩 */
.portfolio_01_coding .coding_content>div{width: 100vw;background-repeat: no-repeat;background-size: contain;background-position: top center;}
.portfolio_01_coding .coding_content{width: 100vw;height: auto;}
.portfolio_01_coding .index_mob {
}
.portfolio_01_coding .index_tab {display: none;
}
.portfolio_01_coding .index_pc {display: none;
}
.portfolio_01_coding .menu {display: none;
}
.portfolio_01_coding .best_new {display: none;
}
.portfolio_01_coding .colorfinder {display: none;
}






/*portfolio_02*/

#portfolio_02 ul{width: 100vw;height: 3rem;box-sizing: border-box;border-bottom: 2px solid #333;}
#portfolio_02 li{width: 8rem;height: 3rem;box-sizing: border-box;border: 2px solid #333;float: left;font-size: 1.2rem;padding: 0 1rem;border-radius: 0.5rem 0.5rem 0 0;border-left:#fff;color: #222}
#portfolio_02 li:first-child{border-left:1px solid #333;}
#portfolio_02 li:hover, #portfolio_02 li:focus{background-color: rgba(0,0,0,0.8);color: #fff}


#portfolio_02 .click{border:0;position: relative}


#portfolio_02 button{width: 100%;height: 100%;color:inherit;outline: 0}
    .portfolio_02_content_01{width: 100vw;background-size: contain;background-repeat: no-repeat; background-position: top left;}
    .portfolio_02_content_02, .portfolio_02_content_03, .portfolio_02_content_04, .portfolio_02_content_05{width: 100vw;background-size: contain;background-repeat: no-repeat; background-position: top left;border-bottom: 1px solid #ccc}
#portfolio_02 .concept{width: 100vw;height: auto;}
#portfolio_02 .concept .portfolio_02_content_02 ~ div{display: none;}
.portfolio_02_title{/*position: relative;*/}
#portfolio_02 .portfolio_02_title h2{width: 100vw;height: 30%;padding-top:5rem;font-weight: normal}
#portfolio_02 .portfolio_02_title div{width: 100vw;height: 2rem;font-size: 1rem;/*position: absolute;z-index: 30;bottom: 3.5rem;left: 50%;margin-left: -3.5rem;*/line-height: 2rem;box-sizing: border-box; padding: 0 40%}
#portfolio_02 .portfolio_02_title div a{width: 100%;height: 100%;font-size: 1rem;color: #fff;background-color: #000;/*position: absolute;z-index: 30;bottom: 3.5rem;left: 50%;margin-left: -3.5rem;*/line-height: 2rem;}
#portfolio_02 .portfolio_02_title div a:hover, #portfolio_01 .portfolio_title div a:focus{background-color: #0080ff;}

.portfolio_02_coding{width: 100vw;height: auto;display: none;}
.portfolio_02_coding .select_02{width: 100vw;height: auto;box-sizing: border-box; padding-left: 3rem;text-align: left;padding-top: 1rem;background-color: #0F1927;
}
.portfolio_02_coding #portfolio_02_coding {width: 10rem;height: 2rem;color: #333
}

.portfolio_02_coding .coding_content>div{width: 100vw;background-repeat: no-repeat;background-size: contain;background-position: top center;}
.portfolio_02_coding .coding_content{width: 100vw;height: auto;}
.portfolio_02_coding .index_mob {
}
.portfolio_02_coding .index_tab {display: none;
}
.portfolio_02_coding .index_pc {display: none;
}
.portfolio_02_coding .menu {display: none;
}
.portfolio_02_coding .best_new {display: none;
}
.portfolio_02_coding .colorfinder {display: none;
}
/*identity*/
    .identity_content_01,.identity_content_02,.identity_content_03 {width: 100vw;background-size: cover;background-repeat: no-repeat; background-position: top left;}
/*top button*/
.top{display: none;width: 3rem;height: 3rem;position: fixed;bottom: 1rem;right: 1rem;z-index: 50}
.top button i{font-size: 2.5rem;color: rgba(2, 22, 39, 0.8)}

.contact_to_me{width: 100vw;height: 40rem;background-image: url(../../img/contact.svg);background-repeat: no-repeat;background-position: top center;background-size: contain;border-top:1px solid #ddd }

footer{width: 100vw;height: 5rem;text-align: center;line-height: 5rem; border-top: 1px solid #ccc}








@media screen and (max-width: 599px){
    .abstract{width: 100vw;background-size: 100%;background-repeat: no-repeat; background-position: top left; }
    
     .twosome_abstract{height: 185vw;background-image: url(../../img/twosome_abstract_mob.svg);}
    .birdie_abstract{height: 272vw;background-image: url(../../img/birdie_abstract_mob.svg);}
     .anb_abstract{height: 272vw;background-image: url(../../img/anb_abstract_mob.svg);}
    
}
@media screen and (min-width:600px) and (max-width:1023px){
    
     .twosome_abstract{height: 140vw;background-image: url(../../img/twosome_abstract_tab.svg);}
    .birdie_abstract{height: 140vw;background-image: url(../../img/birdie_abstract_tab.svg);}
   .anb_abstract{height: 140vw;background-image: url(../../img/anb_abstract_tab.svg);}
    
}
@media screen and (min-width:1024px) {
    
     .abstract{width: 100vw;background-size: contain;
        background-repeat: no-repeat;
        background-position: top center; }
    
        .twosome_abstract {
        height: 50vw;        
        background-image: url(../../img/twosome_abstract_pc.svg);
    }
       .birdie_abstract {
        height: 50vw;        
        background-image: url(../../img/birdie_abstract_pc.svg);
    }
       .anb_abstract {
        height: 50vw;        
        background-image: url(../../img/anb_abstract_pc.svg);
    }
    
}
