@media screen and (max-width: 599px){
    
    /*mob.css*/
aside .menu_button i{font-size: 1.5rem;color: #fff;}
/*메인*/
    #main{padding: 5% 15%;background-position:65%}
    /*메인 로고*/
    #main .logo{height: 50%;padding: 10% 5%;}

    /*컨텐츠박스*/
    #main .logo ~ div{width: 100%;min-height:3rem; height:12.5%;padding:2%;}   
    #main .portfolio_01 div, #main .portfolio_02 div {width:50%;height: 100%;}
    #main .portfolio_01 div:nth-child(2), #main .portfolio_02 div:nth-child(2){border-left: 0} 
    #main a{font-size: 1rem;}
    /*resume*/
    #resume{width: 100vw;height:auto; }
    .resume_title{width: 100vw;height: 30vh;color: #555;font-size:2rem;line-height:30vh;text-align: center;border-bottom: 1px solid #999}
    .resume_content_01{width: 100vw;height: 150vw;background-size: contain;background-repeat: no-repeat; background-position:center top; background-image: url(../../img/resume_mob_01.svg);}
    .resume_content_02{width: 100vw;height: 367vw;background-size: 100% auto;background-repeat: no-repeat; background-position: top center; background-image: url(../../img/resume_mob_02.svg);}

}