@media screen and (min-width:600px) and (max-width:1023px){
    /*tab.css*/
    
    /*메인*/
    #main {padding: 5% 20%;}
    /*메일 로고*/
    #main .logo{height: 20%;padding: 5% 5%;}
    /*컨텐츠박스*/
    #main .logo ~ div{width: 50%;min-height:3rem; height: 25%;padding:2%;}

    #main .portfolio_01 div, #main .portfolio_02 div {width:100%;height: 50%;}
    #main .portfolio_01 div:nth-child(2), #main .portfolio_02 div:nth-child(2){border-top: 0}
    
/*    resume*/
    #resume{width: 100vw;height: auto; }
    .resume_title{width: 100vw;height: 30vh;color: #555;font-size: 2.5rem;text-align: center;border-bottom: 1px solid #999;line-height: 30vh}
    .resume_content_01{width: 100vw;height: 150vw;background-size: contain;background-repeat: no-repeat; background-position: top center; background-image: url(../../img/resume_tab.svg);}
/*   portfolio_01*/    
    #portfolio_01{width: 100vw;height: auto; }
    .portfolio_title{width: 100vw;height: 30vh;color: #555;font-size: 2.5rem;text-align: center;border-bottom: 1px solid #999}
    
    #portfolio_01 ul{padding-left: 1rem}
    .portfolio_01_content_02{height: 150vw;background-image: url(../../img/espoir_synop_tab.svg);background-size: contain}
    .portfolio_01_content_03{height: 120vw;background-image: url(../../img/espoir_fontcolor_tab.svg);background-size: contain}
    .portfolio_01_content_04{height: 130vw;background-image: url(../../img/espoir_flowchart_tab.svg);background-size: contain}
    .portfolio_01_content_05{height: 120vw;background-image: url(../../img/espoir_sketch_tab.svg);}
    
    
    .portfolio_01_coding .index_mob {height: 220vw;background-image: url(../../img/index_mob_tab.svg)
}
.portfolio_01_coding .index_tab {display: none;height: 220vw;background-image: url(../../img/index_tab_tab.svg)
}
.portfolio_01_coding .index_pc {display: none;height: 220vw;background-image: url(../../img/index_pc_tab.svg)
}
.portfolio_01_coding .main_menu {display: none;height: 250vw;background-image: url(../../img/menu_tab.svg)
}
.portfolio_01_coding .best_new {display: none;height: 250vw;background-image: url(../../img/best_new_tab.svg)
}
.portfolio_01_coding .colorfinder {display: none;height: 250vw;background-image: url(../../img/color_tab.svg)
}

    
    .portfolio_02_coding .product {height: 230vw;background-image: url(../../img/product_tab.svg)
}
.portfolio_02_coding .electronic {display: none;height: 230vw;background-image: url(../../img/electronic_tab.svg)
}
.portfolio_02_coding .contact{display: none;height: 230vw;background-image: url(../../img/contact_tab.svg)
}
.portfolio_02_coding .video {display: none;height: 230vw;background-image: url(../../img/video_tab.svg)
}
     
    
    /*   portfolio_02*/    
   
}